
.lista {
    list-style-type: none;
    background-color: var(--violeta);
    display: flex;
    
    &-item {
        flex-grow: 1;
        
        &_link {
            display: block;
            padding: 8px 0;
            text-align: center;
            font-weight: bold;
            color: var(--blanco);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
